<footer >
    <div class="container">
        <div class="row text-center text-white">
            <div class="col-lg-4 col-md-6 col-s-10  mb-2">
                <h2>LOCATION</h2>
                <p>2215 John Daniel Drive </p>
                <p>Clark, MO 65243
    
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-s-10 mb-2 ">
                <h2>ARROUND THE WEB</h2>
                <ul class="d-flex justify-content-center p-3"> 
                    <li  class="mx-2 d-flex justify-content-center align-items-center"><i class="fa fa-brands fa-facebook"></i></li>
                    <li class="mx-2 d-flex justify-content-center align-items-center"><i class="fa fa-brands fa-twitter"></i></li>
                    <li class="mx-2 d-flex justify-content-center align-items-center"><i class="fa fa-brands fa-linkedin"></i></li>
                    <li class="mx-2 d-flex justify-content-center align-items-center"><i class="fa fa-brands fa-youtube"></i></li>
                </ul>
    
            
            </div>
            <div class="col-lg-4 col-md-6 col-s-10 mb-2 ">
                <h2>ABOUT FREELANCER
                </h2>
               <p>Freelance is a free to use, licensed Bootstrap theme created by Route </p>
             
    
         
            </div>
        </div>
       
    </div> 

</footer>  
  <div class="footer-end ">

            <p>Copyright © Your Website 2021</p>
    </div>