<section class="d-flex align-items-center">
  <div class="container text-white">
    <div class="row">
      <div class="title text-center ">
        <h2>ABOUT COMPONENT</h2>
        <app-star></app-star>
      </div>
    </div>


    <div class="row justify-content-center">
   
        <p class="col-5">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
        <p class=" col-5">
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </p>
     
    </div>
  </div>
</section>
