<nav class="navbar navbar-expand-lg nav-bg p-4 position-fixed w-100 top-0">
    <div class="container">
      <a class="navbar-brand text-white" routerLink="home"><h2>START FRAMEWORK</h2></a>

      
      <label for="checkbox" class="checkbox">
        <input type="checkbox" id="checkbox"  hidden>
       <i class="fa-solid fa-bars"></i>
      </label>

     
        <ul  class="">
    
       
          <li class="nav-item  mx-2">
            <a class="nav-link text-white" routerLink="about" routerLinkActive="nlink"><b>ABOUT</b></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-white"  routerLink="portofolio"  routerLinkActive="nlink"><b>PORTOFOLIIO</b></a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link text-white" routerLink="contact" routerLinkActive="nlink"><b>CONTACT</b></a>
          </li>
         
        </ul>
   
    </div>
  </nav>