
<section class="">
  <app-star [componenetName]="'PORTOFOLIO COMPONENT'" [starColor]="'#2c3e50'">
  </app-star>
  <div class="container">
    <div class="row g-5 py-5 accordion">
      <div class="col-lg-4 col-md-6" *ngFor="let image of sources">
        <div class="position-relative overflow-hidden rounded-3">
          <img
            class="w-100 rounded-3"
            [src]="image"
            alt="photo of project card "
          />
          <div class="layer d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
