<section>
  <div class="container ">
    
      <app-star [componenetName]="'CONTACTS COMPONENT' " [starColor]="'#2c3e50'"> </app-star>

    
    <div class=" ">
      <div class="mb-3 mx-auto col-10 ">
        <label for="staticEmail" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <input type="text"  class="form-control" id="staticEmail" placeholder="UserName">
        </div>
      </div>
      <div class="mb-3  mx-auto col-10  ">
        <label for="inputPassword" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="inputPassword" placeholder="UserAge">
        </div>
      </div>
      <div class="mb-3  mx-auto col-10 ">
        <label for="inputPassword" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputPassword" placeholder="UserEmail">
        </div>
      </div>
      <div class="mb-3   mx-auto col-10 ">
        <label for="inputPassword" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="UserPassword">
        </div>
      </div>
      <div class="mb-3   mx-auto col-10 ">
       <button class=" my-3"> Send Message</button>
       
      </div>
    </div>
  </div>
</section>
